parameters:
  level: 1
  paths:
    - src
    - contao
#  universalObjectCratesClasses:
#    - Contao\Database\Result
#    - Contao\Model
#    - Contao\Template
  ignoreErrors:
    - '#^Parameter \$event of method Koertho\\AdvancedRepeatingEventsBundle\\EventListener\\CalendarIcalBundleListener\:\:__invoke\(\) has invalid type Cgoit\\ContaoCalendarIcalBundle\\Event\\AfterImportItemEvent\.$#'
includes:
  - vendor/phpstan/phpstan-symfony/extension.neon
